body {
  margin: 0;
  padding: 0;
  background-color: #000 !important; /* Schwarzer Hintergrund */
  color: #fff; /* Textfarbe auf Weiß */
  font-family: "Garamond", "Palatino", serif; /* Mittelalterliche Schriftart */
  overflow: hidden; /* Scrollen deaktivieren */
}

#Sound{
  overflow: hidden;
  position: fixed;
  right: 97%;
  top: 1%;
  height: 5%;
  width: 2.5%;
  border-radius: 6vw; /* Feste Pixel für abgerundete Ecken */
  padding: 0.5%;
  border: 0.05vw solid #fff;
  border-radius: 1vw; /* Feste Pixel für abgerundete Ecken */
  font-size: 0.8vw;
  background-image: url("../../losgehts/StylesLG/Soundbutton/Mute.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 58%;
}

.SoundOn{
  background-image: url("../../losgehts/StylesLG/Soundbutton/Sound_on.png") !important;
}

.text-feld {
  position: absolute;
  bottom: 1px;
  left: 1px;
  height: 400px;
  background-color: transparent;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  color: #fff !important;
}


#Name {
  position: absolute;
  bottom: 300px;
  left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: #fff;
  display: none;
  border: none;
  background-color: transparent;
  font-size: 1.1em;
}

#Name:hover {
  font-size: bold;
}

#Name:hover::before {
  content: "↳"; /* Fügt das ↳-Zeichen vor dem Text ein */
  margin-right: 5px; /* Platz zwischen dem Zeichen und dem Text */
  font-weight: bold; /* Fettgedruckt */

}

#Schweigen {
  position: absolute;
  bottom: 250px;
  left: 40px; /* Adjust the left position as needed */
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: #fff;
  border: none;
  display: none;
  background-color: transparent;
  font-size: 1.1em;

}
#Schweigen:hover {
  font-size: bold;
}
#Schweigen:hover::before {
  content: "↳"; /* Fügt das ↳-Zeichen vor dem Text ein */
  margin-right: 5px; /* Platz zwischen dem Zeichen und dem Text */
  font-weight: bold; /* Fettgedruckt */

}

.Name {
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid #000;
  padding: 10px; /* Abstand um den Text und das Eingabefeld */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: 'MittelalterlicheSchrift', serif;
}


#inputName {
  display: block;
  margin: 10px auto; /* Zentriert das Eingabefeld horizontal und fügt einen Abstand oben und unten hinzu */
  width: 200px; /* Breite des Eingabefelds */
  background-color: white; /* Weißer Hintergrund */
  border: 1px solid #000; /* 1px schwarzer Rand */
  color: #000; /* Schwarze Schriftfarbe */
}

.MChar, .WChar {
  position: fixed;
  bottom: 10%; /* oder einen anderen Wert, je nachdem, wo die Elemente positioniert sein sollen */
  height: 30vh; /* 30% der Viewporthöhe */
}

.MChar {
  left: 35%; /* Positionierung von .MChar */
  width: 14%; /* Angenommene oder tatsächliche Breite */
}

.WChar {
  left: calc(35% + 14% + 1%); /* Positionierung von .WChar, basierend auf der Position und Breite von .MChar plus 1% Abstand */
  width: 16%; /* Angenommene oder tatsächliche Breite */
}



.selected{
  border: 3px solid #fff;
}

#GeschlechterSchweigen{
  position: fixed;
  left: 43%;
  top: 27%;
  font-size: 1.2vw;
}

#GeschlechterName{
  position: fixed;
  left: 43%;
  top: 56%;
  font-size: 1.2vw;
  color: #fff !important;
}